:root {
    --primary1: #F4B301;
    --primary2: #2A2F35;
    --secondary: #F7F7F7;
    --white: #fff;
    --footer: #3B4046;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 120rem;
    max-width: 100%;
    margin: 0 auto;
}

.col-1-3 {
    width: calc(100% / 3);
}

/* ========================================= HEADER ============================= */
#header {
    background-color: #ccc;
    height: 100vh;
    position: relative;
}

/* Scroll nav */
.nav-scroll {
    background-color: var(--white);
    box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.2);
}

.header__nav {
    padding: 1rem 0;
}

.header__nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-logo {
    font-size: 5rem;
    font-family: 'Open Sans';
    color: var(--primary1);
}

.header__nav-list {
    display: flex;
}

.nav-item {
    padding: 0 2rem;
}

.nav-item a{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary2);
    transition: all 0.4s li;
}

.nav-item a:hover {
    border-bottom: 0.3rem solid var(--primary1);
}

.header__info-content {
    background-color: var(--primary1);
    padding: 10rem 5rem;
}

.header__info-name span:first-child{
    font-size: 2rem;
}

.header__info-fullname {
    font-size: 4rem;
    text-transform: uppercase;
}

.header__info-specialize p:first-child {
    font-size: 1.8rem;
}

.header__info-specialize p:last-child {
    font-size: 2rem;
    font-weight: bold;
    margin-left: rem;
}

/* =========================================== ANIMATION ====================================== */
@keyframes toRight {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


