
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .header__nav-logo span {
        font-weight: normal;
        font-size: 2.2rem;
    }

    .nav-item {
        padding: 0 1.5rem;
    }

    .search__list-item > input,
    .search__list-item > button {
        width: 15rem;
    }

    .item-advanced > button {
        width: 10rem;
    }

    .item-btn-search > button {
        width: 10rem;
        padding: 1.5rem; 
    }

    .feature__item  {
        width: 34rem;
    }

    .articles__item {
        margin: 0 auto;
        width: 34rem;
    }

    .feature__item-header img,
    .feature__item-header::before {
        width: 32rem;
    }

    .feature__button-next {
        left: 70rem;
    }

    .why__content-item {
        width: 30%;
    }

    .signup__content {
        padding: 0 2rem;
    }

    .footer__1-content,
    .footer__2-content {
        padding: 0 1rem;
    }

    .footer__item {
        min-width: 15%;
    }

    .footer__1--quick-links {
        padding: 0;
    }
    
    .form-control input {
        width: 16rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .mobile-nav {
        background-color: var(--white);
        position: relative;
    }

    .header__nav-logo { 
        margin: 0 auto;
        color: var(--black);
    }

    .header__nav-logo span {
        font-weight: normal;
        font-size: 1.8rem;
    }

    .header__nav-list,
    .span-register,
    .nav-listing .fa-chevron-down {
        display: none;
    }

    .mobile-nav-active {
        position: absolute;
        top: 9.4rem;
        left: 0;
        display: block;
        width: 22rem;
        height: 100vh;
        background-color: var(--background);
        animation: toRight 0.4s ease-out;
    }

    .nav-listing a {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-listing .fa-chevron-right{
        display: inline-block;
    }

    .nav-item-listing {
        position: relative;
        top: 0;
        width: 100%;
    }

    .nav-item-listing::before,
    .nav-item-listing::after {
        content: '';
        display: none;
    }

    .nav-listing:hover > .nav-item-listing{
        animation: toRight 0.4s ease;
    }

    .nav-item {
        line-height: 3;
        border-bottom: 1px solid #e1e1e1;
    }

    .nav-item a {
        color: var(--black);
        font-weight: normal;
    }

    .nav-item:nth-last-child(2) {
        display: block;
    }

    .nav-item:last-child {
        width: 80%;
        padding: 0.1rem 2rem;
        margin: 0 auto;
        margin-top: 2rem;
        background-color: var(--primary);
    }

    .nav-item:last-child a {
        color: var(--white);
    }

    .mobile-bars,
    .mobile-user {
        display: block;
        font-size: 2.3rem;
        padding: 1.8rem 1rem;
        cursor: pointer;
    }

    .header__container-content {
        top: 40%;
        line-height: 1.8;
    }

    .header__container-title {
        font-size: 3rem;
        font-weight: normal;
    }

    .header__container-button {
        margin: 4rem 0 3.5rem 0;
    }

    .search__list {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .search__list-item {
        margin-bottom: 2rem;
    }

    .search__list-item > input,
    .search__list-item > button {
        min-width: 24rem;
    }   

    .item-advanced button {
        border: 1px solid #ccc;
    }

    .search__item-btn {
        width: 2rem;
    }

    .search__type-list {
        top: 6rem;
    }

    .search__range-slider {
        top: 8rem;
    }

    .advanced__option {
        top: 18rem;
    }

    .advanced__option::before {
        right: 40rem;
    }

    .feature__item  {
        min-width: 48%;
    }

    .feature__item-header img {
        width: 100%;
    }

    .feature__item-header::before {
        width: 96%;
    }

    .feature__button-next {
        left: 90rem;
    }

    .property-city__thumb {
        justify-content: center;
    }
    
    .property-city__thumb-item {
        width: 100%;
    }

    .why__content,
    .articles__slider {
        flex-wrap: wrap;
    }

    .articles__item,
    .why__content-item {
        min-width: 47%;
        margin: 0 0 2rem 2rem;
    }

    .partner__company {
        flex-wrap: wrap;
        justify-content: center;
    }

    .partner__company img {
        padding: 2rem 8rem;
    }

    .footer__1-content {
        flex-wrap: wrap;
        margin: 0 5rem;
    }

    .footer__item {
        min-width: 40%;
        margin-bottom: 3rem;
        margin-left: 0rem;
    }

    .form-control > input {
        width: 90%;
    }

}

@media (max-width: 868px) {
    .header__container-content {
        top: 48%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .header__container-content {
        top: 68%;
    }

    .search__list {
        width: 80vw;
    }

    .search__list-item > input,
    .search__list-item > button {
        width: 36rem;
    }

    .feature__item,
    .why__content-item  {
        min-width: 94%;
    }
    
    .feature__button-next {
        left: 43rem;
    }

    .footer__1-content {
        flex-wrap: wrap;
    }

    .footer__item {
        min-width: 100%;
        margin-bottom: 3rem;
        margin-left: 0rem;
    }

    .footer__2-content {
        flex-wrap: wrap;
        justify-content: center;
        line-height: 3;
    }

}