
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .header__container-content {
        top: 40%;
        line-height: 1.8;
    }

    .header__container-title {
        font-size: 3rem;
        font-weight: normal;
    }

    .header__container-button {
        margin: 4rem 0 3.5rem 0;
    }

    .search__list {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .search__list-item {
        margin-bottom: 2rem;
    }

    .search__list-item > input,
    .search__list-item > button {
        min-width: 24rem;
    }   

    .item-advanced button {
        border: 1px solid #ccc;
    }

    .search__item-btn {
        width: 2rem;
    }

    .search__type-list {
        top: 6rem;
    }

    .search__range-slider {
        top: 8rem;
    }

    .advanced__option {
        top: 18rem;
    }

    .advanced__option::before {
        right: 40rem;
    }

    .feature__item  {
        min-width: 48%;
    }

    .feature__item-header img {
        width: 100%;
    }

    .feature__item-header::before {
        width: 96%;
    }

    .feature__button-next {
        left: 90rem;
    }

    .property-city__thumb {
        justify-content: center;
    }
    
    .property-city__thumb-item {
        width: 100%;
    }

    .why__content,
    .articles__slider {
        flex-wrap: wrap;
    }

    .articles__item,
    .why__content-item {
        min-width: 47%;
        margin: 0 0 2rem 2rem;
    }

    .partner__company {
        flex-wrap: wrap;
        justify-content: center;
    }

    .partner__company img {
        padding: 2rem 8rem;
    }

    .footer__1-content {
        flex-wrap: wrap;
        margin: 0 5rem;
    }

    .footer__item {
        min-width: 40%;
        margin-bottom: 3rem;
        margin-left: 0rem;
    }

    .form-control > input {
        width: 90%;
    }

}

@media (max-width: 868px) {
    .header__container-content {
        top: 48%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .header__container-content {
        top: 68%;
    }

    .search__list {
        width: 80vw;
    }

    .search__list-item > input,
    .search__list-item > button {
        width: 36rem;
    }

    .feature__item,
    .why__content-item  {
        min-width: 94%;
    }
    
    .feature__button-next {
        left: 43rem;
    }

    .footer__1-content {
        flex-wrap: wrap;
    }

    .footer__item {
        min-width: 100%;
        margin-bottom: 3rem;
        margin-left: 0rem;
    }

    .footer__2-content {
        flex-wrap: wrap;
        justify-content: center;
        line-height: 3;
    }

}