
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .header__nav-content {
        margin: 0 3rem;
    }
    
    .about__avatar > img,
    .about__avatar::before {
        width: 25rem;
        height: 25rem;
    }

}

@media (max-width: 1150px) {
    .about__avatar {
        padding: 17rem 6rem;
    }

    .about__avatar::before {
        left: 2rem;
    }

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .header__nav-mobile {
        display: block;
    }

    .header__nav-list {
        display: none;
    }

    .mobile-nav {
        position: absolute;
        top: 5.5rem;
        left: 3rem;
        right: 3rem;
        padding: 1rem 0;
        display: block;
        background-color: var(--white);
        animation: topToDown 0.8s ease;
    }

    .header__nav-list .nav-item a {
        color: var(--secondary2);
        line-height: 1.8;
        display: block;
    }

    .about__avatar {
        padding: 0;
        height: 100vh;
        background: var(--linear-gradient1);
    }

    .about__avatar::before {
        display: none;
    }

    .about__avatar > img {
        border-radius: 50%;
        position: absolute;
        top: 10rem;
        left: 2rem;
        z-index: 5;
    }

    .about__quote {
        width: 15rem;
        position: absolute;
        top: 32rem;
        left: 3rem;
    }

    .about__me {
        width: 70vw;
        margin: 0;
        padding: 8rem 4rem 0 8rem;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }

    .product-item {
        width: calc(100% - 33.3%);
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .header__info {
        padding: 15rem 3rem;
    }

    .header__info-fullname {
        font-size: 4.5rem;
    }

    .header__info-more {
        left: 40%;
    }

    .about__quote {
        width: 11rem;
        top: 26rem;
        left: 1rem;
        text-align: center;
        font-size: 1.2rem;
    }

    .about__avatar > img {
        width: 15rem;
        height: 15rem;
    }

    .product-item {
        width: 100%;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .header__info {
        top: 18rem;
    }

    .header__info-name > span:first-child {
        font-size: 2.5rem;
    }

    .header__info-fullname {
        font-size: 4rem;
        margin-left: 1rem;
    }

    .about__avatar > img {
        width: 10rem;
        height: 10rem;
    }

    .about__me {
        padding-left: 5rem;
    }

    .about__quote {
        top: 16rem;
        left: 0;
    }

}